/playground.py
.DS_Store
*.pyc
*.py#
/extern/

specification.py
/batchalign.egg-info/
/build/
/dist/
/.eggs/

*.egg-info

input
output
venv
start.bat

uploads/tmp/*
3xamples
inputfiles/*
outputfiles/*
